In [36]:
using Printf

uwt = 40                                                     # lb
ucu = 9                                                      # ft3
s = uwt/ucu                                                  # lb/ft3
Kwt = 25                                                     # ton
Kcu = 2750                                                   # ft3
qmax = min(Kwt, s*Kcu/2000)                                  # ton

a = 1
v = 25000                                                    # $/ton
h = 0.3                                                      # 1/yr

using Printf

function prt(value, label, units="", digits=2)
    fmtval = split(Printf.format(Printf.Format("%."*string(digits)*"f"),value),".")
    fmtval[1] = reverse(join(Iterators.partition(reverse(fmtval[1]), 3), ","))
    println("$label\t= $(join(fmtval, ".")) $units")
    return value
end
k = prt(a*v*h*qmax, "IC_FTL", "(\$/yr)");

IC_FTL	= 45,833.33 ($/yr)

In [34]:
fmt = "%."*string(2)*"f"

"%.2f"

In [39]:
tr = (Kwt = 25, Kcu = 2750)

25

In [1]:
using DataFrames

function format_columns(df::DataFrame, columns::Vector{Symbol}, digits::Int=2)
    for col in columns
        df[!, col] = map(df[!, col]) do value
            if value isa Number
                return string(round(value, digits=digits)) |> 
                       x -> replace(x, r"(?<=[0-9])(?=(?:[0-9]{3})+(?![0-9]))" => ",")
            else
                return value
            end
        end
    end
    return df
end

# Create a sample DataFrame
df = DataFrame(
    A = [1234.5678, 9876.5432, "Not a number", 1000000.01],
    B = ["Text", 5678.9012, 1234.5678, "Another text"],
    C = [9876543.21, 1234567.89, 5678901.23, 4321098.76]
)

println("Original DataFrame:")
println(df)

# Format columns A and C with 2 decimal places
formatted_df = format_columns(df, [:A, :C])

println("\nFormatted DataFrame:")
println(formatted_df)

# Format column B with 3 decimal places
formatted_df = format_columns(formatted_df, [:B], 3)

println("\nFinal Formatted DataFrame:")
println(formatted_df)

Original DataFrame:
4×3 DataFrame
 Row │ A             B             C
     │ Any           Any           Float64
─────┼───────────────────────────────────────
   1 │ 1234.57       Text          9.87654e6
   2 │ 9876.54       5678.9        1.23457e6
   3 │ Not a number  1234.57       5.6789e6
   4 │ 1.0e6         Another text  4.3211e6

Formatted DataFrame:
4×3 DataFrame
 Row │ A               B             C
     │ String          Any           String
─────┼──────────────────────────────────────────────
   1 │ 1,234.57        Text          9.87,654,321e6
   2 │ 9,876.54        5678.9        1.23,456,789e6
   3 │ Not a number    1234.57       5.67,890,123e6
   4 │ 1.00,000,001e6  Another text  4.32,109,876e6

Final Formatted DataFrame:
4×3 DataFrame
 Row │ A               B             C
     │ String          String        String
─────┼──────────────────────────────────────────────
   1 │ 1,234.57        Text          9.87,654,321e6
   2 │ 9,876.54        5,678.901     1.23,456,789e6
   3 │ Not a number    1,234.568     5.67,890,123e6
   4 │ 1.00,000,001e6  Another text  4.32,109,876e6